
.logo{
    img{
        width: 85px;
    }
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.branding{
    display: flex;
    align-items: center;
    gap: 8px;
span{
    
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
}

.navbar {
    display: flex;
    justify-content: flex-end;
    background: linear-gradient(to right, #1da8df, #333333);
    padding: 10px 20px;
    justify-content: space-around;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}


